node-red-remote.json
[{"id":"93419af3.46ade8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"55329ac0.82a084","type":"inject","z":"93419af3.46ade8","name":"Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":100,"wires":[["8e55ddb5.f8aa4"]]},{"id":"8bba388e.949788","type":"debug","z":"93419af3.46ade8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"bb43f020.9e188","type":"switch","z":"93419af3.46ade8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":260,"wires":[["8a1ab402.145e58"],["8bba388e.949788"]]},{"id":"8e55ddb5.f8aa4","type":"http request","z":"93419af3.46ade8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.50:5000/greeting","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":260,"wires":[["bb43f020.9e188"]]},{"id":"dc49d244.20113","type":"exec","z":"93419af3.46ade8","command":"ir-ctl ","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Remote","x":540,"y":100,"wires":[["b74e1f2.25541e"],["b74e1f2.25541e"],["b74e1f2.25541e"]]},{"id":"b74e1f2.25541e","type":"debug","z":"93419af3.46ade8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"8a1ab402.145e58","type":"function","z":"93419af3.46ade8","name":"","func":"msg.payload = \"--send=./Samsung_remote/\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["dc49d244.20113"]]}]